<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!--  <meta charset="utf-8" />-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Agency - Start Bootstrap Theme</title>
  <link rel="icon" type="image/x-icon" href="public/assets/img/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/stylesheet" />
 </head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <!--  main-menu show-search-header-->
  <div class="container-fluid">
    <img width="180px" src="assets/img/navbar-logo.png" alt="" />
  </div>
</nav>
<!-- Masthead-->
<header class="masthead" >
  <div class="container">
    <div class="hero-wrap">
      <div class="overlay"></div>
      <div class="overlay-2"></div>
      <div class="masthead-heading">ברוכים הבאים </div>
      <a class="btn btn-info btn-xl text-uppercase js-scroll-trigger" href="/getHelp">תמיכה</a>
      <a class="btn btn-info btn-xl text-uppercase  text-center" data-toggle="modal" href="#myModal">כניסה</a>
    </div>
  </div>
</header>
<!--&lt;!&ndash; Modal 2&ndash;&gt;-->
<!--<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-lg-8">-->
<!--            <div class="modal-body">-->
<!--              &lt;!&ndash; Project Details Go Here&ndash;&gt;-->
<!--              <h2 class="text-uppercase">Project Name</h2>-->
<!--              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
<!--              <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/02-full.jpg" alt="" />-->
<!--              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>-->
<!--              <ul class="list-inline">-->
<!--                <li>Date: January 2020</li>-->
<!--                <li>Client: Explore</li>-->
<!--                <li>Category: Graphic Design</li>-->
<!--              </ul>-->
<!--              <button class="btn btn-primary" data-dismiss="modal" type="button">-->
<!--                <i class="fas fa-times mr-1"></i>-->
<!--                Close Project-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; Modal 3&ndash;&gt;-->
<!--<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-lg-8">-->
<!--            <div class="modal-body">-->
<!--              &lt;!&ndash; Project Details Go Here&ndash;&gt;-->
<!--              <h2 class="text-uppercase">Project Name</h2>-->
<!--              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
<!--              <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/03-full.jpg" alt="" />-->
<!--              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>-->
<!--              <ul class="list-inline">-->
<!--                <li>Date: January 2020</li>-->
<!--                <li>Client: Finish</li>-->
<!--                <li>Category: Identity</li>-->
<!--              </ul>-->
<!--              <button class="btn btn-primary" data-dismiss="modal" type="button">-->
<!--                <i class="fas fa-times mr-1"></i>-->
<!--                Close Project-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; Modal 4&ndash;&gt;-->
<!--<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-lg-8">-->
<!--            <div class="modal-body">-->
<!--              &lt;!&ndash; Project Details Go Here&ndash;&gt;-->
<!--              <h2 class="text-uppercase">Project Name</h2>-->
<!--              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
<!--              <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/04-full.jpg" alt="" />-->
<!--              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>-->
<!--              <ul class="list-inline">-->
<!--                <li>Date: January 2020</li>-->
<!--                <li>Client: Lines</li>-->
<!--                <li>Category: Branding</li>-->
<!--              </ul>-->
<!--              <button class="btn btn-primary" data-dismiss="modal" type="button">-->
<!--                <i class="fas fa-times mr-1"></i>-->
<!--                Close Project-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; Modal 5&ndash;&gt;-->
<!--<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-lg-8">-->
<!--            <div class="modal-body">-->
<!--              &lt;!&ndash; Project Details Go Here&ndash;&gt;-->
<!--              <h2 class="text-uppercase">Project Name</h2>-->
<!--              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
<!--              <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/05-full.jpg" alt="" />-->
<!--              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>-->
<!--              <ul class="list-inline">-->
<!--                <li>Date: January 2020</li>-->
<!--                <li>Client: Southwest</li>-->
<!--                <li>Category: Website Design</li>-->
<!--              </ul>-->
<!--              <button class="btn btn-primary" data-dismiss="modal" type="button">-->
<!--                <i class="fas fa-times mr-1"></i>-->
<!--                Close Project-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; Modal 6&ndash;&gt;-->
<!--<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-lg-8">-->
<!--            <div class="modal-body">-->
<!--              &lt;!&ndash; Project Details Go Here&ndash;&gt;-->
<!--              <h2 class="text-uppercase">Project Name</h2>-->
<!--              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
<!--              <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/06-full.jpg" alt="" />-->
<!--              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>-->
<!--              <ul class="list-inline">-->
<!--                <li>Date: January 2020</li>-->
<!--                <li>Client: Window</li>-->
<!--                <li>Category: Photography</li>-->
<!--              </ul>-->
<!--              <button class="btn btn-primary" data-dismiss="modal" type="button">-->
<!--                <i class="fas fa-times mr-1"></i>-->
<!--                Close Project-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;Services&ndash;&gt;-->
<!--<section class="page-section" id="services">-->
<!--  <div class="container">-->
<!--    <div class="text-center">-->
<!--      <h2 class="section-heading text-uppercase">תמיכה</h2>-->
<!--      <h3 class=" text-muted">היא מערכת שעובדת עבור שני הצדדים בשוק הנדל"ן ומשדכת בינהם QuickMatch</h3>-->
<!--      <h3 class="section-subheading text-muted">?אז מה הסיפור? איך זה עובד</h3>-->

<!--    </div>-->
<!--    <div class="row text-center">-->
<!--      <div class="col-md-5">-->
<!--                        <span class="fa-stack fa-4x">-->
<!--                            <i class="fas fa-circle fa-stack-2x text-primary"></i>-->
<!--                            <i class="fas fa-address-card fa-stack-1x fa-inverse"></i>-->
<!--                        </span>-->
<!--        <h4 class="my-3">מפרסמים</h4>-->
<!--        <p class="text-muted">נרשמים לאתר, בוחרים בפרסום,מפרסמים את הנכס בתהליך פשוט ונוח בו נדרש מכם למלא את טופס המודעה ולהזין בו את כל מאפייני הנכס שלכם,בסיום התהליך המערכת תשמור את המודעה במאגר. באיזור האישי תוכלו לצפות במודעה שהעלתם,לעדכן או למחוק אותה וכמובן לקבל מחפשים פוטנציאליים, כאלו שמחפשים נכס ממש כמו שלכם</p>-->
<!--      </div>-->
<!--      <div class="container col-md-5">-->
<!--                        <span class="fa-stack fa-4x">-->
<!--                            <i class="fas fa-circle fa-stack-2x text-primary"></i>-->
<!--                            <i class="fas fa-search fa-stack-1x fa-inverse"></i>-->
<!--                        </span>-->
<!--        <h4 class="my-3">מחפשים</h4>-->
<!--        <p class="text-muted">נרשמים לאתר, בוחרים בחיפוש, ממלאים את טופס המודעה ומזינים בו את המאפינים של הנכס שאתם רוצים למצוא,בסיום התהליך המערכת תשמור את המודעה במאגר. באיזור האישי תוכלו לצפות במודעה שהעלתם,לעדכן או למחוק אותה וכמובן לראות את כל הנכסים הרלוונטים עבורם. אנחנו כבר נדאג לעדכן באיזור האישי שלכם כל נכס חדש שיפורסם באתר ושיתאים למאפיינים שחיפשתם</p>-->
<!--      </div>-->
<!--&lt;!&ndash;      <div class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="fa-stack fa-4x">&ndash;&gt;-->
<!--&lt;!&ndash;                            <i class="fas fa-circle fa-stack-2x text-primary"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                        </span>&ndash;&gt;-->
<!--&lt;!&ndash;        <h4 class="my-3">Web Security</h4>&ndash;&gt;-->
<!--&lt;!&ndash;        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <div class="avatar">
          <img src="/images/avatar.png" alt="Avatar">
        </div>
        <h4 class="modal-title">התחברות</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <form action="/users/login"  method="post" >
          <div class="form-group">
            <input placeholder="מייל" type="email" class="form-control" id="email_l" aria-describedby="emailHelp" name="email_l" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password"  id="password_l" placeholder="סיסמא" pattern=".{8,}" title="הכנס לפחות 8 תווים" pattern="[!@#$%^&*][a-z][A-Z][0-9]" title="הכנס אותיות באנלית, מספרים ותווים בלבד" required="required">
          </div>
          <p style="color: red"><%=msg%></p>
          <div class="form-group">
            <button type="submit"  class="btn btn-info btn-lg btn-block login-btn">התחבר/י</button>
          </div>
          <div class="form-group"></div>
          <div class="register_section">
            <span class="register_action">אין לך חשבון?</span>
            <span class="register_line">
                <a href="/register">הרשמה</a>
              </span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#">שכחת סיסמא?</a>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="js/saleResult.js"></script>
</body>
</html>
